<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
    <title>Title</title>
</head>

<body>
<div id="wrap">
    <th:block layout:fragment="header" th:include="@{/fragments/header}"></th:block>
    <th:block layout:fragment="nav" th:include="@{/fragments/nav}"></th:block>
    <div id="container" role="main">
      <span>
        <a th:href="@{/testdb/register}">
          <button type="button" class="btn btn-outline-primary">등록</button>
        </a>
      </span>
        <table border="1px solid gray">

            <tr>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일</th>
                <th>조회</th>
            </tr>
            <tr>
                <td>#</td>
                <td>#</td>
                <td>#</td>
                <td>#</td>
            </tr>
        </table>


    </div>
    <th:block layout:fragment="footer" th:include="@{/fragments/footer}"></th:block>
</div>

</body>
</html>